<div class="timeline-container" id="timeline">
    <h1>Mi Historial de Rutas</h1>

    <cdk-virtual-scroll-viewport itemSize="250" class="timeline-viewport">

        <div class="timeline">

            @for (route of routesHistory; track route.id) {
            <div class="ride">
                <h2>{{route.name}}</h2>

                <div class="ride-details">
                    <mat-card class="text-details">
                        <span class="detail-destination">Destino: {{route.destination}}</span>

                        <span [class.detail-in-progrss]="route.in_progress">
                            Estado: {{ route.in_progress ? 'En progreso' : 'Completado' }}
                        </span>

                        <span class="detail-distance">Distancia: {{route.distance}} km</span>
                    </mat-card>

                    <!-- <mat-accordion class="gallery-accordion">
                        <mat-expansion-panel class="gallery-expansion-panel" [expanded]="isRouteOpen(route.id)"
                            (opened)="toggleGallery(route.id)" (closed)="toggleGallery(route.id)">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="gallery-panel-title">
                                    Ver Galería ({{route.photos?.length || 0}} fotos)
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="gallery-content">
                                @for(photo of route.photos; track photo.id){
                                <img class="photo" [src]="'/images/' + photo.url" alt="" loading="lazy" width="200"
                                    height="150">
                                }
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion> -->
                </div>
            </div>
            }

            @empty {
            <mat-card class="empty-state">
                No hay rutas en este momento.
            </mat-card>
            }
        </div>

    </cdk-virtual-scroll-viewport>
</div>