.header {

    padding: 0 16px;
    position: absolute;
    background-color: transparent;
}

.navigation-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        background: url('/images/logo.webp');
        background-size: contain;
        background-repeat: no-repeat;
        width: 7rem;
        height: 5rem;
        cursor: pointer;
        z-index: 20;
    }

    nav {
        display: flex;

        a {
            margin-left: 8px;
            text-decoration: none;
            color: white;
            z-index: 2;
        }
    }
}