<div class="home">
    <div class="banner">
        <div class="banner-text">
            <h1 class="shouted-phrase">
                <span>No hay destino </span>
                <span>sin camino</span>
            </h1>
            <h1 class="irreverent-phrase">
                <span>No hay un destino, hay muchos caminos</span>
            </h1>
        </div>
    </div>
    <div class="about p-8 bg-gray-50 dark:bg-gray-800">
        <mat-card class="about-card max-w-4xl mx-auto p-6 md:p-10 rounded-xl shadow-2xl">
            <h2 class="mat-h2 title text-3xl font-extrabold text-indigo-600 mb-6 border-b-2 border-indigo-200 pb-2">
                ¿Quién soy?
            </h2>

            <blockquote class="quien-soy-paragraph text-lg leading-relaxed text-gray-700 dark:text-gray-300">
                <p>
                    Soy Alejandro Rincón, programador, apasionado por los viajes en moto y por los autos clásicos.
                    Actualmente estoy
                    recorriendo inicialmente pueblos colombianos en mi moto (X Pulse 200 4V). Mi plan es conocer los
                    pueblos
                    más icónicos del país y de Suramérica.

                    <em class="text-sm italic text-gray-500 dark:text-gray-400">
                        (Europa también, pero no le digan a nadie).
                    </em>
                </p>
            </blockquote>
        </mat-card>
    </div>
</div>