.banner {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('../../../../../../public/images/banner.JPG');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::after {
        content: '';
        width: 100%;
        height: 20vh;
        background-color: #fff;
        position: absolute;
        z-index: 100;
        bottom: 0;
        background: linear-gradient(transparent, #012);
    }

    .banner-text {
        width: 100%;
        max-width: 900px;
    }

    .shouted-phrase {
        font-size: clamp(2rem, 8vw, 3.5rem);
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 10px;

        span {
            display: inline-block;
            position: relative;
            padding: 0 5px;

            color: #F8F8FF;
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: -5px;
                right: -5px;
                height: 3px;
                transform: translateY(-50%);

                background-color: #E81D1D;
                z-index: 5;
            }
        }
    }

    .irreverent-phrase {
        font-size: clamp(1.5rem, 6vw, 2.8rem);
        font-family: 'Arial Black', sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 1.2;

        span {
            display: inline-block;
            transform: skewX(-4deg);
            color: white;
            -webkit-background-clip: text;
        }
    }



}

.about {
    display: flex;
    flex-flow: column;
    padding: 1em;
    background-color: #012;
    gap: 1em;

    .text-card {
        padding: 1em;

        .about-me-paragraph {
            .text-sm {
                font-weight: bold;
            }
        }
    }

    .images-container {
        height: 40vh;
        overflow: hidden;

        .image {
            height: 100%;
            width: 100%;
            background: url('../../../../../../public/images/crsl-1-lake.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;

            &:hover {
                transform: scale(1.01);
            }
        }
    }
}

@media (min-width: 768px) {

    .about {
        flex-flow: row;

        .text-card {
            width: 50%;
            justify-content: center;
        }

        .images-container {
            width: 50%;
            height: 55vh;
        }
    }

    .future {
        height: 100vh;
    }

    .timeline {
        background-color: rgb(34, 0, 0)
    }

    .contact {
        background-color: rgb(0, 34, 25);
    }

}