<div class="home">
    <div class="banner">
        <div class="banner-text">
            <h1 class="shouted-phrase">
                <span>No hay destino </span>
                <span>sin camino</span>
            </h1>
            <h1 class="irreverent-phrase">
                <span>No hay un destino, hay muchos caminos</span>
            </h1>
        </div>
    </div>
    <div class="about p-8 bg-gray-50 dark:bg-gray-800">
        <mat-card class="text-card max-w-4xl mx-auto p-6 md:p-10 rounded-xl shadow-2xl">
            <h2 class="paragraph-title">
                ¿Quién soy?
            </h2>

            <blockquote class="about-me-paragraph text-lg leading-relaxed text-gray-700 dark:text-gray-300">
                <p>
                    Soy Alejandro Rincón, programador, apasionado por los viajes en moto y por los autos clásicos.
                    Actualmente estoy
                    recorriendo inicialmente pueblos colombianos en mi moto (X Pulse 200 4V). Mi plan es conocer los
                    pueblos
                    más icónicos del país y de Sudamérica.

                    <em class="text-sm italic text-gray-500 dark:text-gray-400">
                        (Europa también, pero no le digan a nadie).
                    </em>
                </p>
                <a href="https://www.youtube.com/@Ruta404adv?sub_confirmation=1" target="_blank"
                    matButton="elevated">Suscríbete</a>
            </blockquote>
        </mat-card>
        <mat-card class="images-container">
            <!-- // Here it will be placed a corousel -->
            <div class="image">

            </div>
        </mat-card>
    </div>
    <div class="timeline future"></div>
    <div class="contact future"></div>
</div>