<footer class="footer">
    <div class="navigation-container">
        <div class="inner-navigation">
            <div class="logo">RUTA404</div>
            <nav class="nav">
                <a href="" class="mist-rutas">Mis rutas</a>
                <a href="" class="contact">Contacto</a>
                <a href="" class="home">Inicio</a>
            </nav>
        </div>
        <div class="socials">
            <a href="https://www.instagram.com/ruta_404/" target="_blank" fontIcon="instagram">
                <mat-icon aria-hidden="false" aria-label="Example instagram icon" fontIcon="instagram"></mat-icon>
            </a>
            <a href="[Your Social Link]" target="_blank" aria-label="LinkedIn">
                <mat-icon fontIcon="linkedin"></mat-icon>
            </a>

        </div>
    </div>
    <div class="info">
        <div class="site-info">Ruta404 2025</div>
        <div class="dev-info">Hecho por <a target="_blank"
                href="https://www.linkedin.com/in/alejandro-rincon-vera-4810b615a/">Alejandro
                Rincón</a>
        </div>
    </div>
</footer>