<footer class="footer">
    <div class="navigation-container">
        <div class="inner-navigation">
            <div class="logo" (click)="scrollTo('home')"></div>
            <nav class="nav">
                <a class="mist-rutas" (click)="scrollTo('timeline')">Mis rutas</a>
                <a class="contact" (click)="scrollTo('about')">Acerca de mi </a>
                <a class="home" (click)="scrollTo('home')">Inicio</a>
            </nav>
        </div>
        <div class="socials">
            <a href="https://www.instagram.com/ruta_404/" target="_blank" aria-label="Instagram">
                <mat-icon>instagram</mat-icon>
            </a>
            <a href="https://www.linkedin.com/in/alejandro-rincon-vera-4810b615a/" target="_blank"
                aria-label="LinkedIn">
                <mat-icon fontIcon="linkedin"></mat-icon>
            </a>

        </div>
    </div>
    <div class="info">
        <div class="site-info">Ruta404 2025</div>
        <div class="dev-info">Hecho por <a target="_blank"
                href="https://www.linkedin.com/in/alejandro-rincon-vera-4810b615a/">Alejandro
                Rincón</a>
        </div>
    </div>
</footer>